html, body {
    height: 100%;
    width: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/* Nav / Navbar Styles
===================================*/
.navbar {
	border-bottom: none;
	padding: 20px 0;
	transition-duration: 0.6s;
}
.bg-transparent{
  padding: 10px 0;
}
.navbar-brand h1{
  color: tomato;
}
.navbar-nav a {
  color: tomato!important;
}

/* jQuery Styles
===================================*/
.navbar-scroll {
	background: linear-gradient(147deg, #000000 0%, #04619f 74%);
	padding: 20px 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.5s;
}

.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.fixed-background {
    position: relative;
    width: 100%;
    height: 60rem;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}
.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background-image: url(../img/bg/intro.png);
    z-index: -1;
    background-repeat: no-repeat;
}
/* -----------text animate-----------*/
.subtitle h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}



/* ------------------------------ */
.subtitle h1 {
    color:white;
    font-size: 7rem;
}
.description h4 {
    color: white;
    font-size: 3rem;
}
.title button {
    background: rgb(72, 32, 248);
    color: rgb(248, 244, 244);
}
.content h2{
    color: rgb(131, 145, 7);
}
.second-background {
    position: relative;
    width: 100%;
    height: 30rem;
}
.second-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}
.second {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background-image: url(../img/bg/second-background.jpg);
    z-index: -1;
    background-repeat: no-repeat;
}
.m-5 li {
    font-size: 18px;
}
.attraction h1, h4 {
    color: white;
}
.attraction .btn {
    color: white;
    background: rgb(72, 32, 248);
}
.a-link {
    padding: 0 10px;
}
.a-link a{
    color: white;
}
.video-title {
    color: tomato;
    font-size: 22px;
}
.service-detail p {
    font-size: 22px;
    color: tomato;
}
.third-background {
    position: relative;
    width: 100%;
    height: 24rem;
}
.third-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999!important;
}
.third {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background-image: url(../img/bg/third-background.jpg);
    z-index: -1;
    background-repeat: no-repeat;
}
.join-title p{
    font-size: 2rem;
}
.join p {
    color: white;
}
.join-button .btn {
    background-color: rgb(72, 32, 248);
    color: white;
}
.home-structure img {
    max-width: 100%;
}
.gallery-title {
    font-size: 22px;
    color: tomato;
}

/* -----image gallery----- */
#gallery {
  padding-top: 40px;
}
@media screen and (min-width: 991px) {
  #gallery {
      padding: 60px 30px 0 30px;
 }
}
.img-wrapper {
  position: relative;
  margin-top: 15px;
}
.img-wrapper img {
  width: 100%;
}
.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}
.img-overlay p {
  color:rgb(98, 231, 8);
  position: absolute;
  top: 80%;
  left: 50;
  font-size: 20px;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 91%;
  position: fixed;
  top: 86px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  width: 70%;
  height: auto;
  object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  #overlay img {
      width: 60%;
 }
}
@media screen and (min-width: 1200px) {
 
}
#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
      font-size: 3em;
 }
}
#prevButton {
  margin-bottom: ;
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
      font-size: 3em;
 }
}
#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #exitButton {
      font-size: 3em;
 }
}

#map {
    height: auto;
}
/* -------------------------------footer------------------------------------- */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background:linear-gradient(147deg, #000000 0%, #04619f 74%);
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo a {
  color: tomato;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}







@media (max-width:1199px) {
    .third-background {
        height: 20rem;
    }
}
@media (max-width:991px) {
    .third-background {
        height: 14rem;
    }
}
@media (max-width:767px) {
    .third-background {
        height: 34rem;
    }
    .subtitle h1 {
      font-size: 4rem;
    }
    .description h4 {
        font-size: 2rem;
    }
}
@media (max-width:633px) {
  .subtitle span {
      font-size: 3rem;
  }
  .content h2 {
      font-size: 1.5rem;
  }

}
@media (max-width:500px) {
    .third-background {
        height: 32rem;
    }
}